.container {
  width: 175px;
  height: 63px;
  border-radius: 5px;
  background-color: rgb(217, 217, 217, 0.3);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 7px;
}

.text {
  font-size: 10px;
  line-height: 12px;
  color: rgb(0, 0, 0, 0.4);
  text-align: right;
}

.usedLimit {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.totalLimit {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;  
  color: #8AC540;
}

@media screen and (max-width: 1320px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 132px;
    align-items: flex-start;
    gap: 0;
    justify-content: space-between;
  }

  .text {
    font-size: 8px;
    line-height: 10px;
    color: rgb(0, 0, 0, 0.4);
    margin-left: 10px;
    margin-bottom: 2px;
  }

  .usedLimit {
    margin-left: 10px;

  }

  .totalLimit {
    margin-left: 10px;
  }
}
