.container {
  display: grid;
  grid-template-columns: 1fr 480px;
  margin: 14px 0 80px;
}

.containerHeadline {
  display: flex;
  flex-direction: column;
}

.headline {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.02em;
  margin-top: 55px;
  margin-bottom: 14px;
}

.image {
  width: 322px;
  height: 342px;
  margin-left: 112px;
}

.imageMobile {
  display: none;
}

@media screen and (max-width: 1320px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 31px 0 80px;
  }

  .headline {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 45px;
  }

  .image {
    display: none;
  }

  .imageMobile {
    display: block;
    width: 335px;
    height: 356px;
    margin-top: 49px;
  }
}