.container {
  margin-top: 18px;
  height: 158px;
  width: 137px;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
  border-left: 2px solid #949494;
  height: 124px;
}

.text {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1320px) {
  .container {
    flex-direction: row;
    height: 65px;
  }
  
  .text {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
  }
}