.container {
  width: 400px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 225px;
  margin-left: 20px;
}

.contents {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.image {
  margin-top: 30px;
  margin-bottom: 19px;
  width: 64px;
  height: 64px;
}

.text {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 1320px) {
  .container {
    width: 298px;
    height: 188px;
  }

  .image {
    width: 57px;
    height: 64px;
    margin: 10px 0;
  }

  .text {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
  }
}