.container {
  margin-bottom: 118px;
}

.headline {
  font-weight: 900;
  font-size: 45px;
  line-height: 54px;
  letter-spacing: 0.01em;
}

.items {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

@media screen and (max-width: 1320px) {
  .container {
    margin-bottom: 43px;
  }

  .headline {
    font-size: 28px;
    line-height: 34px;
  }

  .items {
    display: flex;
    flex-direction: column;
    margin-top: 37px;
    gap: 43px;
  }
}
