.container {
  margin-bottom: 107px;
}

.headline {
  font-weight: 900;
  font-size: 45px;
  line-height: 54px;
  letter-spacing: 0.01em;
}

.carousel {
  display: flex;
  margin: 70px 0;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.button {
  width: 39px;
  height: 39px;
  background: none;
  border: none;
}

.imagesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1320px) {
  .container {
    margin-bottom: 80px;
  }

  .headline {
    font-size: 28px;
    line-height: 34px;
    width: 250px;
  }

  .carousel {
    margin: 32px 0 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .image1 {
    width: 335px;
  }

  .image2 {
    display: none;
  }  
}

