@font-face {
	font-family: 'Ferry';
	src: url('./assets/fonts/Ferry-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Ferry';
  color: #000000;
}

h2 {
  font-family: 'Ferry';
  color: #000000;
}

h3 {
  font-family: 'Inter';
  color: #000000;
}

p, span, button, a, label {
  text-decoration: none;
  font-family: 'Inter';
  color: #000000;
}

h1, h2, h3, p {
  margin: 0;
}

h1, h2 {
  text-transform: uppercase;
}

a, button {
  cursor: pointer;
  padding: 0;
  background-color: white;
}

footer {
  background-color: #029491;
}
