.container {
  margin-bottom: 107px;
}

.headline {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.02em;
  margin-bottom: 17px;
}

.text {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #949494;
  margin-bottom: 27px;
}

.tableContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
}

.table {
  width: 1260px;
  height: 158px;
  border: 2px solid #029491;
  border-radius: 10px;
}

.tableHead {
  width: 133px;
  height: 158px;
  background: #029491;
  border-radius: 10px 0px 0px 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.tableHead p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

@media screen and (max-width: 1320px) {
  .container {
    margin-bottom: 57px;
  }

  .headline {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
  }

  .text {
    letter-spacing: 0.01em;
    margin-bottom: 34px;
  }

  .table {
    width: 298px;
    height: 140px;
  }

  .tableHead {
    width: 298px;
    height: 70px;
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 1fr 80px 80px;
    gap: 20px;
    justify-items: center;
    align-items: center;
  }
}