.container {
  margin-bottom: 107px;
}

.headline {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.02em;
  margin-bottom: 17px;
}

.text {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #949494;
  margin-bottom: 27px;
}

.carousel {
  display: flex;
  width: 1260px;
  height: 158px;
  border: 2px solid #029491;
  border-radius: 10px;
  margin-left: 34px;
}

.carouselHead {
  width: 133px;
  height: 158px;
  background: #029491;
  border-radius: 8px 0px 0px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
  z-index: 1;
}

.category {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

@media screen and (max-width: 1320px) {
  .container {
    margin-bottom: 57px;
  }

  .headline {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
  }

  .text {
    letter-spacing: 0.01em;
    margin-bottom: 34px;
  }

  .carousel {
    flex-direction: column;
    width: 298px;
    height: 140px;
    margin-left: 24px;
  }

  .carouselHead {
    width: 298px;
    height: 75px;
    background: #029491;
    border-radius: 7px 7px 0px 0px;
    flex-direction: row;
  }

  .category {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
  }

}