.container {
  display: grid;
  grid-template-columns: 743px 1fr;
  margin: 24px auto 109px;
}

.headline {
  margin: 45px 0 20px;
  font-weight: 900;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.01em;
}

.text {
  width: 534px;
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
}