.container {
  display: flex;
  align-items: center;
}

.signup {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: rgb(0, 0, 0, 0.4);
}

.devider {
  margin: 0 21px 0 18px;
}

.signin {
  width: 65px;
  height: 26px;
  background: #7CE3E1;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #000000;
  border: none;
}

@media screen and (max-width: 1320px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }
  
  .signup {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: rgb(255, 255, 255, 0.4);
  }

  .devider {
    display: none;
  }

  .signin {
    width: 295px;
    height: 52px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
  }
}